
<div class="forms">
  <h1>Login</h1>
  <form method="get" action="#">
    <label style="font-size: 18px;font-weight: bold"> Email</label><br>
    <input type="email" name="email" class="email" placeholder="Input your Email"/><br>
    <label style="font-size: 18px;font-weight: bold"> Password</label><br>
    <input type="password" name="password" class="password" placeholder="Input your Password"/><br/>
    <a href="#" style="text-decoration: none; color: dodgerblue;display: block;margin-left: 200px"> Forgot Password ?</a><br/>
  </form>
  <ul>
    <li>
      <a href="#">
        <img src="/assets/images/icon_google.png"/>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/images/icon-facebook.png"/>
      </a>
    </li>
    <li>
      <img src="/assets/images/icon-apple.png"/>
    </li>
  </ul>
</div>
<button type="submit" name="submit" class="button">
  Login</button>
<p style="color: white;position: relative;top:820px"> New Here ? <a routerLink="/register" style="text-decoration: none;color: white;font-weight: bold">Register</a>
  <br/>
  <a routerLink="" style="text-decoration: none;color: white;font-weight: bold">Back Home</a></p>
