
<div class="container">
  <div class="header">
    <div class="logo">
      <figure>
        <img src="./app/images/logoKT.png"/>
        <figcaption>REGISTER</figcaption>
      </figure>
    </div>
  </div>
  <div class="form">
    <form method="get" action="#">
      <app-input-username></app-input-username>
      <app-input-password></app-input-password>
      <app-input-repassword></app-input-repassword>
      <app-input-email></app-input-email>
      <div class="dongy">
        <input type="checkbox" name="check" class="checkbox" required>  I agree to the <a href="#" style="color: purple; text-decoration: none">Terms of Servicee</a><br>
      </div>
      <button type="submit" name="singup" CLASS="signup">Sing Up</button>
      <p  class="login">Already a member ? <a href="#">Login here</a> </p>
    </form>
    <i class="fas fa-users"></i>
  </div>
</div>
